.main-container{
  background: url(images/background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh; 
}


.background-text h2{
  color: white;
  font-size: 50px;
  /* bu kısım ekranın ortasına getirmek için */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
   /* bu kısım ekranın ortasına getirmek için */
}

.background-text h2 span{
  color:#ffc61a;
  
}

.taxi-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: slideIn 1s ease-in-out; /* 2 saniyede sağa kaydırma animasyonu */
  

}
@keyframes slideIn {
  from {
    left: -100%; /* Başlangıçta solda -100% konumunda */
  }
  to {
    left: 50%; /* Sonunda sola hiç kaydırma yapılmamış gibi, yani normal konumunda */
  }
}
.taxi-image img{
  width: 100%;
  margin-top: 260px;
}
@media (max-width:768px) {

.background-text h2 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
  /* bu kısım ekranın ortasına getirmek için */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* bu kısım ekranın ortasına getirmek için */
  z-index: 1;
}

@keyframes slideIn {
  from {
      left: -100%;
      /* Başlangıçta solda -100% konumunda */
  }

  to {
      left: 40%;
      /* Sonunda sola hiç kaydırma yapılmamış gibi, yani normal konumunda */
  }
}

.taxi-image {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -30%);
  animation: slideIn 1s ease-in-out;
  /* 2 saniyede sağa kaydırma animasyonu */


}
}