.policy-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-transform: none !important;


}

.policy-container ul {
    margin-left: 4rem;
    list-style-type: disc;
}

.policy-container ul li{
    line-height: 2rem;
}

.policy-container p {
    margin: 1rem 1rem;
}
.policy-container p a {
    margin: 1rem 1rem;
    text-transform: none !important;
    color: blue;
}

.policy-container ul li {
    text-transform: none;
}

.policy-container ul li a {
    text-transform: none !important;
    color: blue;
}

.policy-container h1,h2{
    margin: 1rem 1rem;
}

.ant-table {
  border: 1px solid #e8e8e8; /* Tabloya hafif kenarlık ekler */
}

.ant-table-thead > tr > th {
  background-color: #f0f0f0; /* Sütun başlıklarını gri yapar */
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #e8e8e8; /* Sütun başlıkları ve hücreler arası kenarlık */
}