/* styles.css */
.customer-booking{
  margin: 20px 10px;
}
.status-waiting {
    color: blue; /* Onay Bekliyor için mavi */
  }
  
  .status-approved {
    color: green; /* Onaylandı için yeşil */
  }
  
  .status-denied {
    color: red; /* Reddedildi için kırmızı */
  }
  