/* Base styles */
.taxi-price-img-container {
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center;     /* Center image vertically */
    overflow: hidden;        /* In case the image is larger than the container */
  }
  
  .taxi-price-img-container img {
      max-width: 100%;
      max-height: 100%;
      width: auto;   /* Maintain the aspect ratio */
      height: auto;  /* Maintain the aspect ratio */
  }
  
  /* Responsive styles */
  @media (max-width: 768px) { /* Adjust '768px' based on your responsive breakpoint */
    .taxi-price-img-container img {
      width: 100%;
      height: auto;
    }
  }
  