/*! base start  */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;  /* hesaplama yapılırken içeriğin iç ve kenarlıkları da hesaba katılarak hesaplatıyormuş. responsive için yapılması gerekliymiş */
  /*transition: .2s linear; /* renk geçişleri için kullanılıyormuş. linear de sabit hızmış (Bu çok güzel özellikmiş)*/
  /* text-transform: capitalize;  */ /*inputtaki yazıların baş harflerini büyütür.*/
  text-decoration: none;

}


html{

  font-size: 62.5%;
  overflow-x: hidden; /*yatayda taşma olursa gizler */
  scroll-behavior: smooth; /*sayfada kaydırma hareketi(fare tekerleği) yaparken daha yumuşak animasyonla yapmasını sağlıyormuş */
}

:root {
  
 
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

button {
  cursor: pointer;
  border: none;
}

button:disabled {
  opacity: 0.4 !important;
  cursor: no-drop;
}

.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  font-weight: 500;
  border: 1px solid black;
  transition: 0.2s ease all;
}

.btn-sm {
  line-height: 33px;
}

.btn-lg {
  line-height: 45px;
}

.btn-primary {
  background-color: #1367ef;
  color: #fff;
  border-color: #1367ef;
}

.btn-primary:hover {
  background-color: #fff;
  color: #1367ef;
}

textarea {
  overflow: auto;
}



.img-fluid {
  width: 100%;
}

/*! base end  */

/* base responsive  */

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 350px;
  }
}


/* react-slick-css */

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0;
}