*{
  margin: 0;
  padding:0;
  box-sizing: border-box;  /* hesaplama yapılırken içeriğin iç ve kenarlıkları da hesaba katılarak hesaplatıyormuş. responsive için yapılması gerekliymiş */
  /*transition: .2s linear; /* renk geçişleri için kullanılıyormuş. linear de sabit hızmış (Bu çok güzel özellikmiş)*/
  text-transform: capitalize;  /* ? */
  text-decoration: none;

}


html{

  font-size: 62.5%;
  overflow-x: hidden; /*yatayda taşma olursa gizler */
  scroll-behavior: smooth; /*sayfada kaydırma hareketi(fare tekerleği) yaparken daha yumuşak animasyonla yapmasını sağlıyormuş */
}

:root {
  
 
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

